/* Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #373d3f;
    font-family: 'Bodoni Moda', serif;
}
/* Header */
header {
    background-color: white;
    font-family: 'Bodoni Moda', serif;
    position: fixed;
    z-index: 99;
    padding: 0.5rem 0.5rem 0;
    width: 100%;
    box-shadow: 0 2px 2px #2e2b2b54;
    display: flex;
    align-items: center;
}
h1 {
    font-size: 1.7rem;
    font-weight: 500;
    padding-bottom: 9px;
}
#menu {
    list-style-type: none;
    font-size: 1.3rem;
}
header a {
    text-decoration: none;
    color: inherit;
}
.current {
    border-bottom: solid 1px #373d3f;
}
#socials {
    list-style-type: none;
    font-size: 1.5rem;
}
nav > ul {
    display: flex;
    justify-content: center;
    gap: 17px;
}
/* Navbar dropdown toggle styling (credit: CI Love running project) */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #2e2b2b54;
    display: none;
    top: 100%;
}
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-button {
    font-size: 2.1rem;
    margin-left: 0.9rem;
    margin-bottom: 8px;
}
/* Hero image styles */
.hero-image {
    background: url(../images/hero-image-mobile.jpg) no-repeat center center/cover;
    width: 100%;
    height: 500px;
    position: relative;
    top: 4rem;
    background-color: rgb(233, 193, 137, 0.5);
}
.centered-text {
    text-align: center;
    padding-top: 7%;
    color: #362317;
    font-size: large;
    text-transform: uppercase;
    font-weight: 500;
}
.color-text-box {
    background-color: rgba(164, 139, 114, 0.6);
    position: absolute;
    width: 90%;
    bottom: 29%;
    left: 5%;
    text-align: center;
    padding: 0.5rem;
    font-family: montserrat, serif;
    color: white;
}
/* Main content */
main {
    background-color: rgb(233, 193, 137, 0.5);
/* Make main element take up surplus space to push footer down (credit: CI Love running project) */
    flex: 1 0 auto;
    margin-top: 4.1rem;
}
.container-mission {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: flex-end;
}
#mission-image {
    height: 470px;
    position: relative;
    right: 1.9rem;
}
.mission-text {
    margin-top: 2.5rem;
    text-align: center;
    margin-right: 75px;
    padding-bottom: 2rem;
}
#mission-heading {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    border: solid 1px #412a1b;
    color: #412a1b;
}
.border-bottom {
    border-bottom: solid 1px #412a1b;
    padding: 1.2rem 0;
}
.about-text {
    text-align: center;
    padding: 1.5rem;
}
#about-heading {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    border: solid 1px #412a1b;
    color: #412a1b;
    width: 60%;
    margin-left: 4.1rem;
}
#margin-top {
    margin-top: 1rem;
}
.container-about {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: flex-end;
}
#about-image {
    height: 470px;
    margin-bottom: 1rem;
    padding-right: 2rem;
}
/* Footer */
footer {
    text-align: center;
    background-color: rgb(233, 193, 137, 0.2);
    box-shadow: 0 2px 20px #2e2b2b54;
    padding-top: 1rem;
}
footer > h2 {
    font-size: 20px;
    padding-top: 10px;
}
#meditation-text {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}
#meditation-button {
    color: rgba(164, 139, 114, 1); /* BUTTON COLOR NOT SHOWING?*/
    font-size: 13px;
    padding: 4px;
    border-radius: 30px;
    margin-bottom: 1rem;
}
#button-text {
    position: relative;
    bottom: 2px;
}
footer i {
    color: black;
}
#socials-footer {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.3rem;
}
/* Media query: Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
/* Header (credit: CI Love running project) */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    width: 40%;
    box-shadow: none;
    padding-left: 9rem;
}
#menu {
    position: relative;
    top: 1rem;
}
#socials {
    position: relative;
    left: 120%;
    bottom: 1rem;
}
.nav-toggle-button {
    display: none;
}
/* Hero image */
.hero-image {
    height: 700px;
}
.centered-text {
    font-size: 23px;
    padding-top: 30px;
}
.color-text-box {
    width: 70%;
    font-size: 25px;
    left: 15%;
}
/* Main Content */
.container-mission{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
#mission-image {
    height: 540px;
    margin-left: 0.8rem;
}
.mission-text {
    margin-left: 2rem;
}
#about-heading {
    position: static;
    margin-left: 8.5rem;
}
#about-image {
    margin: 1rem 0 2rem;
    height: 540px;
    padding-right: 12.7rem;
}
/* Footer */
.socials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5rem;
}
#socials-text {
    font-family: montserrat, serif;
    font-size: 13px;
}
#socials-footer {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    position: relative;
    right: 9%;
    font-size: 18px;
}
footer i {
    color: black;
}
}
/* Media query: Laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
/* Header (credit: CI Love running project) */
nav {
    display: block;
    position: relative;
    width: fit-content;
    box-shadow: none;
    padding-left: 40%;
}  
#menu {
    display: flex;
    position: relative;
    top: 28px
}  
.nav-toggle-button {
    display: none;
}   
#socials {
    display: flex;
    position: relative;
    left: 80%;
    bottom: 5px;
}
/* Footer */
#socials-text {
    position: relative;
    left: 9rem;
}
#socials-footer {
    position: relative;
    right: 9%;
}
}