/* Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #373d3f;
    font-family: 'Bodoni Moda', serif;
}
/* Header */
header {
    background-color: white;
    font-family: 'Bodoni Moda', serif;
    position: fixed;
    z-index: 99;
    padding: 0.5rem 0.5rem 0;
    width: 100%;
    box-shadow: 0 2px 2px #2e2b2b54;
    display: flex;
    align-items: center;
}
h1 {
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 9px;
    width: 92%;
}
#menu {
    list-style-type: none;
    font-size: 1.2rem;
}
header a {
    text-decoration: none;
    color: inherit;
}
.current {
    border-bottom: solid 1px #373d3f;
}
#socials {
    list-style-type: none;
    font-size: 1.3rem;
    padding-right: 0.8rem;
}
nav > ul {
    display: flex;
    justify-content: center;
    gap: 17px;
    align-items: center;
}
/* Navbar dropdown toggle styling (credit: CI Love running project) */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #2e2b2b54;
    display: none;
    top: 100%;
}
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-button {
    font-size: 2rem;
    margin-left: 0.9rem;
    margin-bottom: 8px;
}
/* Hero image styles */
.hero-image {
    background: url(../images/hero-image-mobile.jpg) no-repeat center center/cover;
    width: 100%;
    height: 580px;
    position: relative;
    top: 4.1rem;
    background-color: rgb(233, 193, 137, 0.5);
}
.centered-text {
    text-align: center;
    padding-top: 1.8rem;
    color: #362317;
    font-size: large;
    text-transform: uppercase;
    font-weight: 500;
}
.color-box {
    background-color: rgba(164, 139, 114, 0.6);
    position: absolute;
    width: fit-content;
    bottom: 29%;
    left: 5%;
    padding: 0.5rem;
}
#text-box {
    text-align: center;
    font-family: montserrat, serif;
    color: white;
    font-size: 1.2rem;
}
/* Main content */
main {
    background-color: rgb(233, 193, 137, 0.5);
/* Make main element take up surplus space to push footer down (credit: CI Love running project) */
    flex: 1 0 auto;
    margin-top: 4.1rem;
}
.container-mission {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 4rem;
}
#mission-image {
    height: 470px;
    position: relative;
    right: 1.9rem;
}
.mission-text {
    margin-top: 2.5rem;
    text-align: center;
    margin-right: 75px;
    padding-bottom: 2rem;
}
#mission-heading {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    border: solid 1px #412a1b;
    color: #412a1b;
}
.border-bottom {
    border-bottom: solid 1px #412a1b;
    padding: 1.2rem 0;
}
.container-about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.about-text {
    text-align: center;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-heading {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    border: solid 1px #412a1b;
    color: #412a1b;
    width: 14rem;
}
#margin-top {
    margin-top: 1rem;
}
#about-image {
    height: 470px;
    margin-bottom: 1rem;
}
/* Services tab */
.services-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
#services-heading {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #412a1b;
}
#services-button {
    background-color: rgba(164, 139, 114, 0.6);
    padding: 0.7rem;
    border-radius: 30px;
    margin-top: 1rem;
}
#contact-me {
    font-size: 1.1rem;
}
.services-image {
    display: none;
}
.images-container {
    display: flex;
    justify-content: center;
    margin: 3rem 0 3rem 0;
}
#image-mobile {
    height: auto;
    width: 100%;
}
#image-large {
    display: none;
}
/* Credit: W3Schools (https: //www.w3schools.com/html/html_table_borders.asp) */
th,
td {
    border: 1.5px solid #412a1b;
    border-collapse: collapse;
    border-style: ridge;
    padding: 5px;
    font-size: 1.1rem;
}
/* Footer */
footer {
    text-align: center;
    background-color: rgb(233, 193, 137, 0.2);
    box-shadow: 0 2px 20px #2e2b2b54;
    padding-top: 1rem;
}
footer > h2 {
    font-size: 20px;
    padding-top: 10px;
}
#meditation-text {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}
#meditation-button {
    background-color: rgba(164, 139, 114, 0.6);
    padding: 0.6rem;
    border-radius: 40px;
    margin-bottom: 3rem;
}
#button-text {
    position: relative;
    bottom: 2px;
    font-size: 0.8rem;
}
footer i {
    color: black;
}
#socials-footer {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.3rem;
}
/* Media query: Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
/* Header (credit: CI Love running project) */
h1 {
    font-size: 2.2rem;
    width: 60%;
}
nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 47%;
    box-shadow: none;
    padding: 0;
}
.nav-toggle-button {
    display: none;
}
#menu, #socials {
    font-size: 1.3rem;
}
#socials {
    padding: 0 0 0 1rem;
}
/* Hero image */
.hero-image {
    height: 800px;
}
.centered-text {
    font-size: 1.6rem;
    padding-top: 2.4rem;
}
.color-text-box {
    width: 70%;
    font-size: 25px;
    left: 15%;
}
/* Main Content */
.container-mission{
    flex-direction: row-reverse;
    justify-content: center;
    margin: 1rem 1rem 0 1rem;
    justify-content: space-evenly;
}
#mission-image {
    height: 600px;
}
.mission-text {
    margin-left: 1.6rem;
    font-size: 1.2rem;
}
#mission-heading, #about-heading {
    font-size: 1.6rem;
}
.about-text {
    font-size: 1.2rem;
}
#about-image {
    margin: 1rem 0 2rem;
    height: 540px;
}
#image-border {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
/* Credit: Daniel Vassallo comment (https://stackoverflow.com/questions/3148415/how-to-make-a-vertical-line-in-html#:~:text=You%20can%20draw%20a%20vertical,width%20with%20any%20html%20element.&text=The%20width%20property%20determines%20the,the%20color%20of%20the%20line.) */
.border-left {
    border-left: solid 1px black;
    height: 450px;
    margin-top: 3.5rem;
}
.border-right {
    border-right: solid 1px black;
    height: 450px;
    margin-top: 3.5rem;
}
/* Services tab */
.services-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 1rem 1rem 0 1rem;
    justify-content: space-evenly;
}
#services-heading {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.services-image {
    display: flex;
    height: 550px;
    margin-top: 1.1rem;
}
#services-button {
    margin-top: 1rem;
}
#image-mobile {
    display: none;
}
#image-large {
    display: flex;
    height: auto;
    width: 100%;
}
/* Footer */
h4 {
    font-size: 1.5rem;
}
#meditation-text {
    font-size: 1.1rem;
}
#button-text {
    font-size: 1rem;
}
.socials-container {
    display: flex;
    flex-direction: column;
}
#socials-text {
    font-family: montserrat, serif;
    font-size: 1rem;
}
#socials-footer {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
}
footer i {
    color: black;
}
}
/* Media query: Laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
/* Header (credit: CI Love running project) */
h1 {
    font-size: 2.5rem;
    width: 69%;
}
nav {
    width: fit-content;
}    
#menu, #socials {
    font-size: 1.6rem;
}
/* Hero image */
.hero-image {
    background: url(../images/hero-image.jpg) no-repeat center center/cover;
    top: 4.8rem;
}
/* Main content */
.mission-container {
    gap: 2.8rem;
}
.mission-text, about-text {
    font-size: 1.3rem;
}
#mission-heading, #about-heading {
    font-size: 1.8rem;
}
#mission-image {
    height: 650px;
}
/* Services tab */
#services-heading {
    font-size: 1.9rem;
}
td {
    font-size: 1.5rem;
}
#contact-me {
    font-size: 1.5rem;
}
#image-large {
    height: 650px;
    width: auto;
}
/* Footer */
footer > h2 {
    font-size: 2rem;
}
#meditation-text, #socials-footer {
    font-size: 1.6rem;
}
#button-text {
    font-size: 1.3rem;
}
#socials-text {
    font-size: 1.3rem;
}
/* Media query: Tablets and larger (1200px and up) */
@media screen and (min-width: 1200px) {
    /* Header */
    h1 {
        width: 77%;
        font-size: 2.9rem;
}
    #menu, #socials {
        font-size: 1.9rem;
}
/* Hero image */
.hero-image {
    top: 5.5rem;
}
/* Services tab */
#image-large {
    height: 800px;
}
/* Footer */
footer>h2 {
    font-size: 2.3rem;
}
#meditation-text,
#socials-footer {
    font-size: 1.7rem;
}
#button-text {
    font-size: 1.4rem;
}
#socials-text {
    font-size: 1.4rem;
}
}