/* Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #1a1919;
    font-family: 'Eb Garamond', serif;
}

/* Header */
header {
    background-color: white;
    font-family: 'Cormorant Garamond', serif;
    position: fixed;
    z-index: 99;
    padding: 0.5rem 0.5rem;
    width: 100%;
}

h1 {
    font-size: x-large;
}

#logo {
font-weight: 400;
}

nav {  
}

/* Main content */
main {
    background-color: aqua;
}


/* Footer */
footer {
    background-color: #f5dec6;
}
